* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
}

.pantalla {
    min-height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    width: 95%;
    max-width: 1100px;
    background-image: url("fondo2.jpg");
    background-size: 300px;
    padding: 25px;
    border-radius: 30px;
}

/* HEADER */
.header {
    background: white;
    padding: 15px 20px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.volver {
    font-weight: bold;
    cursor: pointer;
}

.volver:hover {
    text-decoration: underline;
}

.sub span {
    font-size: 12px;
    color: #666;
}

/* SUGERIDO */
.sugerido {
    background: #6f8563;
    color: white;
    padding: 18px;
    border-radius: 20px;
    margin: 20px 0;
}

/* CARD */
.menu-card {
    background: white;
    border-radius: 25px;
    overflow: hidden;
    transition: transform 0.3s;
}

.menu-card:hover {
    transform: scale(1.01);
}

.menu-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.contenido {
    padding: 20px;
}

.ojo {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

/* CHECKBOX OCULTO */
input[type="checkbox"] {
    display: none;
}

/* BOTÓN VER */
.ver {
    display: inline-block;
    margin: 10px 0;
    cursor: pointer;
    color: #6f8563;
    font-weight: bold;
}

/* INGREDIENTES OCULTOS */
.ingredientes {
    display: none;
    margin: 15px 0;
    gap: 10px;
}

.ingredientes span {
    display: block;
}

/* MOSTRAR INGREDIENTES */
input:checked + .ver + .ingredientes {
    display: block;
}

/* BOTONES */
.botones {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

button {
    padding: 12px 25px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-verde {
    background: #6f8563;
    color: white;
}

.btn-verde:hover {
    background: #5c7352;
}

.btn-verde:active {
    transform: scale(0.95);
}

.btn-blanco {
    background: white;
    border: 2px solid #6f8563;
    color: #6f8563;
}

.btn-blanco:hover {
    background: #e9efe6;
}
