body {
    margin: 0;
    font-family: Arial, sans-serif; 
    background-image: url("imagen2.jpeg"); 
    background-size: cover;
    background-position: center;
    
    
}

.contenedor {
    display: flex;
    justify-content: center;
    padding: 60px;
    background-color: rgba(255, 255, 255, 0.416); /* blanco transparente */
    margin: 40px;
    border-radius: 25px;


}

.card-principal {
    background-color: #F3EBDE;
    border-radius: 25px;
    padding: 30px;
    width: 900px;
}

.encabezado {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

   
}

.volver {
    font-size: 14px;
    cursor: pointer;
}





.esperados {
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #6b7f5f;
}

.tarjetas {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.tarjeta {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    text-align: center;
}

.tarjeta input {
    width: 90%;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid #aaa;
    margin-top: 10px;
    text-align: center;
}

.btn {
    margin-top: 25px;
    background-color: #6b7f5f;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 25px;
    cursor: pointer;
}

#mensaje {
    margin-top: 20px;
    color: #4f7c5f;
    font-weight: bold;
}
