body{
    margin:0;
    font-family:Jomhuria, sans-serif;
}
.fondo{
    height:100vh;
    background: url("../imagenes/fondo.png") no-repeat center center/cover;
    display:flex;
    justify-content:center;
    align-items:center;
}
.tarjeta{
    width:500px;
    padding:40px;
    background:#69726239;
    border-radius:30px;
    text-align:center;
}
.logo{
    width:200px;
}
h1,p{
    color:white;
}
.btn{
    display:inline-block;
    padding:10px 30px;
    border-radius:25px;
    background:#f3f5f1a6;
    text-decoration:none;
    color:#432e21;
}
