body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#e7e4dc;
}

/* TARJETA PRINCIPAL */
.main-card{
    width:85%;
    margin:40px auto;
    background:#e6dccb;
    border-radius:25px;
    padding:25px;
}

/* BIENVENIDA */
.top-bar{
    background:#d9d9d9;
    border-radius:15px;
    padding:15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.icons span{
    font-size:22px;
    margin-left:15px;
    cursor:pointer;
}

/* MENÚ */
.menu-hoy{
    background:#718a6d;
    border-radius:20px;
    margin-top:20px;
    padding:25px;
    color:white;
}

.menu-hoy a{
    color:white;
    text-decoration:none;
}

.menu-hoy a:visited{
    color:white;
}

.menu-hoy button{
    margin-top:10px;
    padding:8px 15px;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

/* TARJETAS PEQUEÑAS */
.quick-cards{
    display:flex;
    justify-content:space-between;
    margin-top:20px;
}

.q-card,
a.q-card{
    width:22%;
    border-radius:15px;
    padding:15px;
    text-align:center;
    color:black;
    text-decoration:none;
    background:#d9d9d9;
    transition:0.3s;
}

/* efecto hover bonito */
.q-card:hover{
    transform:scale(1.05);
    background:#cfcfcf;
    cursor:pointer;
}

.q-card p{
    margin:5px 0 0 0;
}

/* ESTADISTICAS */
.stats{
    margin-top:20px;
    background:#d9d9d9;
    border-radius:20px;
    padding:20px;
    display:flex;
    justify-content:space-around;
}

.stat{
    text-align:center;
}

.stat p{
    margin:0;
}

/* COLORES NUMEROS */
.green{
    color:#39b54a;
}

.blue{
    color:#3b82f6;
}

.purple{
    color:#7e57c2;
}